* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
}

::after,
::before {
        box-sizing: border-box;
}

/* Header styles */
.header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #333;
        color: #fff;
        padding: 20px;
        border-bottom: 2px solid white;
}

.logo {
        display: flex;
        align-items: center;
}

.logo img {
        width: 40px;
        /* Adjust as needed */
        margin-right: 10px;
}

.logo h1 {
        font-size: 26px;
        color: mediumpurple;
}

.nav-links ul {
        list-style-type: none;
}

.nav-links li {
        display: inline-block;
        margin-left: 20px;
}

.nav-links li:first-child {
        margin-left: 0;
}

.nav-links a {
        color: #fff;
        text-decoration: none;
        padding: 10px;
        border-radius: 5px;
}

/* Hover effect */
.nav-links a:hover {
        background-color: mediumpurple;
        /* Semi-transparent white */
}

/* Landing section styles */
.landing-section {
        /* Placeholder image URL */
        background-color: black;
        background-size: cover;
        background-position: center;
        height: 100vh;
        /* Adjust height as needed */
        display: flex;
        justify-content: center;
        align-items: center;
}

.content {
        text-align: center;
        color: #fff;
        padding: 20px;
        /* Adjust padding as needed */
}

.content h1 {
        font-size: 3rem;
        /* Adjust font size as needed */
        margin-bottom: 10px;
}

.content h2 {
        font-size: 2rem;
        /* Adjust font size as needed */
        margin-bottom: 10px;
}

.content p {
        font-size: 1.2rem;
        /* Adjust font size as needed */
        margin-bottom: 20px;
}

button {
        padding: 10px 20px;
        /* Adjust padding as needed */
        font-size: 1rem;
        /* Adjust font size as needed */
        background-color: #333;
        color: #fff;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
}

button:hover {
        background-color: mediumpurple;
        /* Adjust hover background color as needed */
}


/* Product section styles */
.product-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px;
        background-color: #333;
}

.product {
        margin: 20px;
        max-width: 300px;
        border: 1px solid #ddd;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product img {
        width: 100%;
        height: auto;
}

.product-info {
        padding: 20px;
}

.product-info h3 {
        font-size: 1.5rem;
        margin-bottom: 10px;
}

.product-info p {
        font-size: 1rem;
        margin-bottom: 10px;
}

.product-info span {
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 10px;
}

button {
        padding: 10px 20px;
        font-size: 1rem;
        background-color: #333;
        color: #fff;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
}

button:hover {
        background-color: #555;
}

/* Service section styles */
.service-section {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #333;
        flex-wrap: wrap;
        padding: 20px;
}

.service {
        margin: 20px;
        max-width: 300px;
        border: 1px solid #ddd;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service img {
        width: 100%;
        height: auto;
}

.service h3 {
        font-size: 1.5rem;
        margin: 20px 0;
}

.service p {
        font-size: 1rem;
        margin-bottom: 20px;
}

/* Testimonial section styles */
.testimonial-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background-color: #333;
        padding: 20px;
}

.testimonial {
        margin: 20px;
        max-width: 300px;
        border: 1px solid #ddd;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testimonial img {
        width: 100%;
        height: auto;
}

.testimonial-info {
        padding: 20px;
}

.testimonial-info p {
        font-size: 1rem;
        margin-bottom: 10px;
}

.testimonial-info h4 {
        font-size: 1.25rem;
        margin-bottom: 5px;
}

.testimonial-info span {
        font-size: 0.875rem;
        color: #888;
}

/* Footer section styles */
.footer-section {
        background-color: #333;
        color: #fff;
        padding: 20px 0;
}

.footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
}

.footer-logo img {
        width: 50px;
        /* Adjust logo size as needed */
        margin-right: 10px;
}

.footer-logo span {
        font-size: 1.25rem;
}

.footer-links ul {
        list-style-type: none;
        display: flex;
}

.footer-links li {
        margin-right: 20px;
}

.footer-links a {
        color: #fff;
        text-decoration: none;
}

.footer-social a {
        margin-left: 10px;
}

.footer-social img {
        width: 30px;
        /* Adjust social icon size as needed */
}