* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::after,
::before {
        box-sizing: border-box;
}

/* Header styles */
.header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #333;
        color: #fff;
        padding: 20px;
}

.logo {
        display: flex;
        align-items: center;
}

.logo img {
        width: 40px;
        /* Adjust as needed */
        margin-right: 10px;
}

.logo h1 {
        font-size: px;
}

.nav-links ul {
        list-style-type: none;
}

.nav-links li {
        display: inline-block;
        margin-left: 20px;
}

.nav-links li:first-child {
        margin-left: 0;
}

.nav-links a {
        color: #fff;
        text-decoration: none;
        padding: 10px;
        border-radius: 5px;
}

/* Hover effect */
.nav-links a:hover {
        background-color: rgba(255, 255, 255, 0.1);
        /* Semi-transparent white */
}

/* Landing section styles */
.landing-section {
        background-image: url('https://via.placeholder.com/1500x800');
        /* Placeholder image URL */
        background-size: cover;
        background-position: center;
        height: 100vh;
        /* Adjust height as needed */
        display: flex;
        justify-content: center;
        align-items: center;
}

.content {
        text-align: center;
        color: #fff;
        padding: 20px;
        /* Adjust padding as needed */
}

.content h1 {
        font-size: 3rem;
        /* Adjust font size as needed */
        margin-bottom: 10px;
}

.content h2 {
        font-size: 2rem;
        /* Adjust font size as needed */
        margin-bottom: 10px;
}

.content p {
        font-size: 1.2rem;
        /* Adjust font size as needed */
        margin-bottom: 20px;
}

button {
        padding: 10px 20px;
        /* Adjust padding as needed */
        font-size: 1rem;
        /* Adjust font size as needed */
        background-color: #333;
        color: #fff;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
}

button:hover {
        background-color: #555;
        /* Adjust hover background color as needed */
}